$theme-colors: (
  primary: #f38630,
  secondary: #4f8699,
  success: #4f8699,
  danger: #c0392b,
  info: #2980b9,
  warning: #f38630,
  light: #ecf0f1,
  dark: #2c3e50,
  green: #218c74,
  white: #ffffff,
  darkGrey: #bdc3c7
);

$enable-rounded: false;
$border-radius: 0px;
$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;
@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

// functions
@function theme-color($key) {
    @return map-get($theme-colors, $key);
}

// custom elements
.dataTable thead{
    background-color: theme-color("secondary");
    color: #ffffff;
    text-align: center;
}

// buttons
.btn-primary{
    color: #ffffff !important;
}

.btn-green{
    color: #ffffff !important;
    background-color: theme-color("green") !important;
}

.input-group-text{
    background-color: theme-color("secondary") !important;
    color: #ffffff !important;
    border-radius: 0px !important;
}

.custom-file-label{
    border-radius: 0px !important;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.card{
    border-radius: $border-radius-base;
}

// modal
.modal-open[style] {
    padding-right: 0px !important;
}

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}

// Progress
.progress{
    background-color: #bdc3c7 !important;
    border-radius: 0px;
}

$custom-file-text: (
  en: "Browse",
  pt-BR: "Selecionar"
);

// Mixin itself
@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

// Usage as a mixin
.element {
    @include clearfix;
}

@import "node_modules/bootstrap/scss/bootstrap";