/* globals */
*{
    outline: none;
}

.overflowHidden{
    overflow: hidden !important;
}
.overflowAuto{
    overflow: auto !important;
}
.overflowScroll{
    overflow: scroll !important;
}

.hiddenElement{
    display: none;
}

/* header */
#header{
    background-color: #4f8998;
    line-height: 70px;
    position: fixed;
    z-index: 200
}

/* loader */
#loader{
    position: fixed;
    overflow: hidden;
    z-index: 10002;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#loader #spinner{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

/* menu icon */
#menuIcon{
    position: absolute;
    top: 15px;
    cursor: pointer
}

#menuIcon .bar1, #menuIcon .bar2, #menuIcon .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* menu */
#menu{
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 70px;
    height: calc(100% - 70px);
    background-color: #ecf0f1;
    overflow-x: hidden;
    overflow-y: auto;
}

/* menu-itens */
.menu-item{
    color: white;
    padding: 0;
    display: flexbox;
}

.menu-item .menu-background{
    height: 160px;
    margin: 15px;
    background-size: auto 120% ;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center center;
    text-align: center;
    transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
}

.menu-background:hover{
    background-size: auto 200% ;
}

.menu-item a:link, .menu-item a:visited{
    color: white;
    text-decoration: none;
}

.menu-item .icon{
    font-size: 32px !important;
    margin-top: 50px !important;
}

.menu-item img.icon{
    margin-top: 50px !important;
    width: 34px !important;
}

.menu-dashboard{
    background: linear-gradient(rgba(4, 85, 142, 0.5), rgba(4, 85, 142, 0.5)), url('../../images/menu/dashboard-bkg.png');
}

.menu-ranking{
    background: linear-gradient(rgba(4, 85, 142, 0.5), rgba(4, 85, 142, 0.5)), url('../../images/menu/ranking-bkg.png');
}

.menu-metas{
    background: linear-gradient(rgba(4, 85, 142, 0.5), rgba(4, 85, 142, 0.5)), url('../../images/menu/metas-bkg.png');
}

.menu-gravacoes{
    background: linear-gradient(rgba(4, 85, 142, 0.5), rgba(4, 85, 142, 0.5)), url('../../images/menu/gravacoes-bkg.png');
}

.menu-pedidos{
    background: linear-gradient(rgba(4, 85, 142, 0.5), rgba(4, 85, 142, 0.5)), url('../../images/menu/pedidos-bkg.png');
}

.menu-realtime{
    background: linear-gradient(rgba(4, 85, 142, 0.5), rgba(4, 85, 142, 0.5)), url('../../images/menu/realtime-bkg.png');
}

.menu-campanhas{
    background: linear-gradient(rgba(4, 85, 142, 0.5), rgba(4, 85, 142, 0.5)), url('../../images/menu/campanhas-bkg.png');
}

.menu-carteiras{
    background: linear-gradient(rgba(4, 85, 142, 0.5), rgba(4, 85, 142, 0.5)), url('../../images/menu/carteiras-bkg.png');
}

.menu-leads{
    background: linear-gradient(rgba(4, 85, 142, 0.5), rgba(4, 85, 142, 0.5)), url('../../images/menu/leads-bkg.png');
}

.menu-agendamentos{
    background: linear-gradient(rgba(4, 85, 142, 0.5), rgba(4, 85, 142, 0.5)), url('../../images/menu/agendar-bkg.png');
}

.menu-callback{
    background: linear-gradient(rgba(4, 85, 142, 0.5), rgba(4, 85, 142, 0.5)), url('../../images/menu/callback-bkg.png');
}

.menu-voicemail{
    background: linear-gradient(rgba(4, 85, 142, 0.5), rgba(4, 85, 142, 0.5)), url('../../images/menu/voicemail-bkg.png');
}

.menu-comunicados{
    background: linear-gradient(rgba(4, 85, 142, 0.5), rgba(4, 85, 142, 0.5)), url('../../images/menu/comunicados-bkg.png');
}

.menu-ocorrencias{
    background: linear-gradient(rgba(4, 85, 142, 0.5), rgba(4, 85, 142, 0.5)), url('../../images/menu/ocorrencias-bkg.png');
}

.menu-relatorios{
    background: linear-gradient(rgba(4, 85, 142, 0.5), rgba(4, 85, 142, 0.5)), url('../../images/menu/relatorio-bkg.png');
}

.menu-marketing{
    background: linear-gradient(rgba(4, 85, 142, 0.5), rgba(4, 85, 142, 0.5)), url('../../images/menu/marketing-bkg.png');
}

/* cards */

.card {
    color: white;
    border: none;
}

.card:hover {
    box-shadow: 3px 3px 3px #ccc;
}

.card-title {
    text-align: center;
    font-weight: bold;
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0px -15px;
    line-height: 30px;
    font-size: 14px;
}

.card-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ranking */

.ranking .position h1 {
    position: relative;
    display: grid;
    top: 10px;
    color: #7f0000;
}

.ranking .name {
    font-size: 14px;
}

/* DataTables*/
.dataTable{
    padding: 0px;
    width: 100%;
}

.dataTables_wrapper{
    margin: 0px 0px 25px 0px;
}

table.dataTable tbody td {
    vertical-align: middle;
}

/* footer */

.footer {
    background-color: rgba(236, 240, 241,1.0);
    padding: 12px;
    line-height: 12px;
    font-size: 10px;
}